[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DAISIEprep"]
	path = DAISIEprep
	url = https://github.com/joshwlambert/daisieprep
